.cardWrapper > div {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.cardWrapper > div div:first-child {
  color: var(--reign-studio-accent-orange);
  font-size: 30px;
  font-weight: bold;
}

.cardWrapper > div div:last-child {
  color: var(--reign-studio-text-secondary);
  font-size: 20px;
}

.button {
  width: 100%;
}