.button {
  border: none;
  border-radius: 8px;
  color: var(--reign-studio-text-primary-white);
  padding: 8px 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.buttonOrange {
  background-color: var(--reign-studio-accent-orange);
}

.buttonOrange:hover {
  background-color: var(--reign-studio-accent-orange-dark);
  transition: background-color 0.3s ease,
}

.buttonBlue {
  background-color: var(--reign-studio-accent-blue);
}

.buttonBlue:hover {
  background-color: var(--reign-studio-accent-blue-dark);
  transition: background-color 0.3s ease;
}