.buttonWrapper > button {
  align-items: center;
  box-shadow: 0px 0px 15px var(--reign-studio-color-gray);
  display: flex;
  font-weight: bold;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}